/* feedback reports, interview requests, job recommendations*/
/*newuser.html*/
.logo-size{
	width: 160px;
	height: 35px;
	float: left;
}

.no-squish{
	padding: 0px;
}

.log-in-style{
	background-color: #00315D;
	color: white;
	font-weight: bold;
}


body{
	background-color: #1D2731;
}



.nav-style{
	background-color: #EAE3EA;
	color: black;

}

header{
	width: 100%;
}

.header-style{
	color: #EAE3EA;
	margin-top: 3em;
}

label{
	color: black;
}

.login-section{
	width: 90%;
	margin-left: 4%;
	margin-right: 4%;
	text-align: left;

}

.input-login{
	background-color: #B0C4DE;
	
	padding-bottom: 2%;
	text-align: center;
	border-radius: 10px;
	width: 50%;
	margin: auto;
	margin-top: 10%;
}

.login-header{
	font-weight: bold;
	background-color: #00315D;
	margin-top: 0px;
	padding: 2%;
	text-align: left;
	color: #EAE3EA;
	border-radius: 10px 10px 0px 0px;
}

.login-btn{
	margin-left: 4%;
	margin-right: 4%;

}

.sign-up-advert{
	padding-top: 3%;
	font-size: 1.5em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/*The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3CB371;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.slider-value{
  vertical-align: middle;
  padding: 2px; 
}

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	.input-login{
    		width: 95%;
    	}
    }
